<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dileep Hospitals - Advanced Healthcare with Compassionate Care">
    <meta name="keywords" content="Hospital, Healthcare, Treatment, Emergency, Heart Institute">
    <meta name="author" content="Dileep Hospitals">
    <title>Dileep Hospitals</title>


</head>

<body>

    <nav class="navbar">
        <div class="navbar-brand">Dileep Hospitals</div>
        <div>
            <button class="btn" routerLink="/doclogin" routerLinkActive="router-link-active" >Doctor Login</button>
            <button class="btn" routerLink="/adminlogin" routerLinkActive="router-link-active">Admin Login</button>
        </div>
    </nav>
</body>
</html>



    <!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
  <!-- </div>

</nav> -->


<div class="container">




      <div class="col-md-6">
          <div class="card">

              <div class="text-center">
                  <h1 style="margin-left: 20px;color:rgb(233, 68, 8)">Login As Doctor</h1>
                  <h4>Please enter your Username & Password</h4>

              </div>
              <form>

                  <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label" style="font-size: 20px;"><h4>Username</h4></label>
                      <input type="text" name="username" [(ngModel)]="username" class="form-control" id="formGroupExampleInput" placeholder="User name" style="height: 20px;" required>
                    </div>
                    <div class="mb-3">
                      <label for="formGroupExampleInput2" class="form-label" style="font-size: 20px;"><h4>Password</h4></label>
                      <input type="password" name="password" [(ngModel)]="password" class="form-control" id="formGroupExampleInput2" style="height: 20px;" placeholder="Password" required>
                    </div>
                    <br>
                    <div class="d-grid gap-2 d-md-block">

                      <button (click)=checkLogin() style="margin: 5px;"  class="btn btn-success" type="button" routerLink="/docdash"  routerLinkActive="router-link-active" >Login</button>

                      <button style="margin: 5px;" class="btn btn-warning" type="button" routerLink="/home" routerLinkActive="router-link-active">Cancel</button>
                    </div>

              </form>



          </div>
      </div>
  </div>

